<div class='headBack'></div>	

<div class='head'>
	<div class='container'>
		<div class='head__logo'>
			<img src='img/logo-white.png'>
		</div>
		<div class='header header_white head__title'>
			Клуб миллионеров
		</div>	
	</div>	

	<div class='cube' style='width: 200px;
    height: 200px;
    right: -60px;
    bottom: 100px;'></div>	

    <div class='cube' style='width: 300px; height: 300px;
    right: 50px;
    bottom: 50px;'></div>	

    <div class='cube' style='width: 150px;
    height: 150px;
    right: 50px;
    bottom: 0px;'></div>	
</div>