
<div class='new'>
	<div class='header header_right header_medium header_bright new__title'>
		Пополнение рядов миллионеров
	</div>	
	<div class='new__left'>
		<div class='block block_colored block_noneOffset'>
			<img src='img/img.jpg'>
		</div>	
	</div>	
	<div class='new__right'>
		<div class='text text_small'>
			А 1-го июля 2017 года, когда мы праздновали 3 года Компании, Клуб Миллионеров пополнился еще пятерыми Специалистами. За истекший год в Компании появилось много молодых, но очень перспективных ребят, они пока еще не так сильны, как Гриша и Сережа, наши первые Миллионеры, поэтому для них решили открыть депозиты по 0,5 миллиона рублей, но сроком не на 5 лет, а на 3 года. Перечислим наших молодых героев:
		</div>	
		<div class='new__persons'>
			<div class='new__person'>
				Федя Поваров
			</div>	
			<div class='new__person'>
				Вадим Магомедов
			</div>	
			<div class='new__person'>		
				Кирилл Дмитриев
			</div>	
			<div class='new__person'>	
				Юра Козлов
			</div>	
			<div class='new__person'>	
				Сережа Вагабов
			</div>	
		</div>	
	</div>	

	
</div>	