
<div class='plan'>
	<div class='plan__left'>
		<div class='header header_medium plan__title'>
			Планы на будущее
		</div>	
		<div class='text'>
			В дальнейшем каждый год мы планируем расширять Клуб Миллионеров, хотя и количество сотрудников с каждым годом, разумеется, растет.
		</div>	
		<div class='plan__logo'>
			<img src='img/logo.png'>
		</div>	
	</div>	
	<div class='plan__right'>
		<div class='block block_center block_bigOffset block_orange'>
			<div class='header header_center header_white header_small'>
				Стань миллионером работая в QUALITY EXPERT
			</div>	
			<a class='button button_white' href='#modal' data-uk-modal>Оставить заявку</a>
		</div>	
	</div>	
</div>	

<div class='copyright'>
	<span class='copyright__item'>
		Сайт разработан креативной студией
	</span>		
	<a class='copyright__item link' href='http://quotte.ru' target='_blank'>quotte.</a>
</div>