
<div class='summary'>
	<div class='header header_balanced summary__title'>
		К чему пришли в итоге
	</div>	
	<div class='summary__right'>
		<div class='block block_bigOffset summary__block'>
			<div class='text'>
				А еще в 2017 году мы добавили возможность управления деньгами. Если год назад это были просто депозиты, то сейчас у ребят, попавших в Клуб Миллионеров есть возможность выбирать программы инвестирования:
			</div>	
			<div class='summary__trigers'>
				<div class='summary__trigerCol'>
					<div class='summary__triger'>
						Высоколиквидный ПИФ в одном из Топ-10 банков России, отличается невысоким риском, как следствие невысокой доходностью, поскольку деньги инвестируются в государственные облигации;
					</div>
					<div class='summary__triger'>
						Среднерисковый ПИФ в одном из Топ-10 банков России, отличается возможно более высокой доходностью, чем предыдущие варианты, но и более высокими рисками, деньги инвестируются в акции четырех крупных зарубежных компаний;
					</div>
				</div>
				<div class='summary__trigerCol'>	
					<div class='summary__triger'>
						Депозит в одном из Топ-10 банков России;
					</div>
					<div class='summary__triger'>	
						Передача средств на управление частному трейдеру, отличается максимальным риском, но и потенциально высокой доходностью. На протяжении последних нескольких лет доходность у этого трейдера составляла 30-35% годовых после уплаты подоходного налога.
					</div>	
				</div>	
			</div>	
		</div>	
	</div>	

	<div class='cube' style='width: 150px;
    height: 150px;
    left: -350px;
    bottom: 150px;'></div>

    <div class='cube' style='width: 200px;
    height: 200px;
    left: -250px;
    bottom: 220px;'></div>

     <div class='cube' style='width: 450px;
    height: 450px;
    right: -300px;
    top: -100px;'></div>

    <div class='cube' style='width: 250px;
    height: 250px;
    left: -100px;
    bottom: -100px;'></div>

    <div class='cube' style='width: 450px;
    height: 450px;
    left: 50px;
    bottom: -250px;'></div>

    <div class='cube' style='width: 350px;
    height: 350px;
    left: 280px;
    bottom: -200px;'></div>
</div>	