
<div class='when'>
	<div class='when__left'>
		<div class='block when__block'>
			<div class='header header_small when__header'>
				Когда все только начиналось...
			</div>	
			<div class='text text_small'>
				<p>Клуб Миллионеров был открыт 1-го июля 2016 года, когда Кволити Эксперт праздновал свой второй день рождения. И уже в 2 года руководство Компании поняло, что стоим на ногах мы достаточно крепко и можем позволить себе крутые поощрения для действительно сильных Специалистов Компании. Для двух сильнейших Специалистов:</p>
				<ul class='list'>
					<li class='list__item'>Сережа Колбин</li>
					<li class='list__item'>Гриша Жуйко</li>	
				</ul>	
				<p>были открыты депозиты по 1 миллиону рублей сроком на 5 лет. По истечении 5-ти лет, при отсутствии сильных нареканий от Заказчиков на данных Специалистов, все деньги с набежавшими процентами переходят к ним. Тогда это были просто депозиты в одном из Топ-10 банков России.</p>	
			</div>	
		</div>	
	</div>	
	<div class='when__right'>
		<div class='block block_colored block_noneOffset'>
			<img src='img/photo.jpg'>
		</div>	
	</div>	

	<div class='cube' style='width: 450px;
    height: 450px;
    left: 450px;
    top: -150px;'></div>

    <div class='cube' style='width: 250px;
    height: 250px;
    left: 720px;
    top: -20px;'></div>

    <div class='cube' style='width: 450px;
    height: 450px;
    left: 320px;
    top: -80px;'></div>

    <div class='cube' style='width: 450px;
    height: 450px;
    left: -300px;
    top: -80px;'></div>

    <div class='cube' style='width: 300px;
    height: 300px;
    left: -30px;
    top: -120px;'></div>
</div>	