
.arrow {
	position: absolute;
    width: 100%;

    &_1 {
    	background: url('../img/arrow_1.svg');
		background-repeat: no-repeat;
    	background-size: 100% auto;
    	height: 1700px;
    	top: 1000px;
    }

	&_2 {
		background: url('../img/arrow_2.svg');
		background-repeat: no-repeat;
    	background-size: 100% auto;
	    height: 800px;
	    bottom: -105px;
	}
}