
.when {
	position: relative;
	z-index: 11;
	display: flex;
	margin-top: 60px;

	&__left {
		min-width: 630px;
    	width: 630px;
    	z-index: 10;
	}

	&__right {
		height: 461px;
    	min-width: 609px;
    	position: relative;
    	left: -60px;
    	top: 46px;
    	z-index: 10;
	}

	&__block {
		padding-right: 100px;
	}

	&__header {
		margin-bottom: 40px;
	}
}